<div class="view view--half_horizontal">
  <div class="layout">
    <div class="grid">
      <div class="col col--span-1 col--center">
        <div class="row row--center">
          <img class="weather-image" src="<%= Rails.application.credentials.base_url %>/images/weather/<%= weather_image %>.svg" />
        </div>
      </div>
      <div class="col col--span-2 col--center">
        <div class="grid grid--cols-2">
          <div class="item">
            <div class="meta"></div>
            <div class="content">
              <span class="value value--xlarge" data-fit-value="true"><%= temperature&.round %>°</span>
              <span class="label"><%= t('renders.weather.temperature') %></span>
            </div>
          </div>
          <div class="item">
            <div class="meta"></div>
            <div class="content">
              <span class="value value"><%= conditions %></span>
              <span class="label">Conditions</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="title_bar">
    <img class="image" src="<%= Rails.application.credentials.base_url %>/images/plugins/weather--render.svg" />
    <h1 class="title"><%= t('renders.weather.title') %></h1>
    <span class="instance"><%= instance_name %></span>
  </div>
</div>

<%= render 'plugins/weather/common' %>