<%= render "plugins/calendars/common" %>

<style media="screen">
/* wraps event titles on new line if necessary */
.fc-daygrid-event {
  white-space: normal !important;
}

/* defaults 2em, which wastes a lot of space if no events exist for entire row of dates */
.fc .fc-daygrid-body-unbalanced .fc-daygrid-day-events {
  min-height: 1em;
}
</style>

<div id="calendar" style="height: 480px; width: 800px"></div>

<script src='https://usetrmnl.com/fullcalendar/index.global.min.js'></script>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');
    var calendar = new FullCalendar.Calendar(calendarEl, {
      now: '<%= today_in_tz %>',
      timeZone: new Date('<%= events.values.flatten.reject { |e| e[:all_day] }.first&.dig(:start_full) %>').getTimezoneOffset(),
      headerToolbar: false,
      contentHeight: 'auto', // removes scrollbar that can appear in top right
      initialView: 'dayGridMonth',
      firstDay: <%= first_day %>,
      eventTimeFormat: {
        hour: 'numeric', // required for 0-24 number to appear at all
        hour12: <%= time_format == 'am/pm' %> // if true: 1-12; if false: 0-23
      },
      events: <%== events.values.flatten.map {|e| { allDay: e[:all_day], title: e[:summary], description: e[:description], start: e[:start_full], end: e[:end_full] } }.to_json %>,
      displayEventTime: <%= include_event_time %>,
      locale: '<%= locale %>',
      schedulerLicenseKey: '<%= Rails.application.credentials.plugins.full_calendar.license_key %>'
    });
    calendar.render();
  });
</script>
