<% days_to_show = event_layout == 'today_only' ? 1 : 3 %>

<div class="view view--half_horizontal">
  <div class="layout" style="justify-content: flex-start; padding-bottom: 0px">
    <div style="display: flex; height: 100%; width: 52%; flex-direction: column; flex-wrap: wrap; gap: var(--list-gap-small)">
      <% formulate_and_group_events_by_day(events, today_in_tz, days_to_show).to_h.each_pair do |day, events| %>
        <% idx = 0 %>
        <span class="label"><%= day %></span>
        <% events.each do |event|  %>
          <% if event[:all_day] %>
            <%= render partial: 'plugins/calendars/all_day_event', locals: { event: event, include_description: } %>
          <% else %>
            <div class="item">
              <div class="meta">
                <span class="index"><%= idx += 1 %></span>
              </div>
              <div class="content">
                <span class="title title--small"><%= event[:summary] %></span>
                <% if include_description %>
                  <span class="description"><%= event[:description] %></span>
                <% end %>
                <div class="flex gap--xsmall">
                  <span class="label label--small label--underline"><%= day %></span>
                  <span class="label label--small label--underline"><%= "#{event[:start]}" %> - <%= event[:end] %></span>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>

    </div>
  </div>

  <%= render partial: "plugins/calendars/title_bar", locals: local_assigns %>
</div>
