<div class="view view--half_vertical">
  <div class="layout">
    <div class="column" data-list-limit="true" data-list-max-height="340">
      <% events_sorted = events.values.flatten.sort_by { |e| e[:date_time] }.group_by { |e| e[:day] } %>
      <% events_sorted.first(2).to_h.each do |day_of_events| %>
        <div class="list">
          <span class="label"><%= day_of_events[0] %></span>

          <% day_of_events[1].each_with_index do |event, idx| %>
            <div class="item">
              <div class="meta">
                <span class="index"><%= idx + 1 %></span>
              </div>
              <div class="content">
                <span class="title title--small"><%= event[:summary] %></span>
                <% if include_description %><span class="description"><%= event[:description] %></span><% end %>
                <div class="flex gap--xsmall">
                  <span class="label label--small label--underline"><%= "#{event[:start]}" %> - <%= event[:end] %></span>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <%= render partial: "lib/calendar/views/title_bar", locals: local_assigns %>
</div>
