<div class="view view--full">
  <div class="layout layout--col gap--space-between">
    <div class="grid grid--cols-2">
      <div class="item">
        <div class="meta"></div>
        <div class="content">
          <span class="value value--xxxlarge"><%= contributions[:total] %></span>
          <span class="label">Contributions in last year</span>
        </div>
      </div>
      <div class="flex flex--col gap--medium">
        <div class="grid grid--cols-2">
          <div class="item">
            <div class="meta"></div>
            <div class="content">
              <span class="value"><%= stats[:longest_streak] %></span>
              <span class="label">Longest streak</span>
            </div>
          </div>
          <div class="item">
            <div class="meta"></div>
            <div class="content">
              <span class="value "><%= stats[:current_streak] %></span>
              <span class="label">Current streak</span>
            </div>
          </div>
        </div>

        <div class="w-full b-h-gray-5"></div>

        <div class="grid grid--cols-2">
          <div class="item">
            <div class="meta"></div>
            <div class="content">
              <span class="value "><%= stats[:max_contributions] %></span>
              <span class="label">Most in a day</span>
            </div>
          </div>
          <div class="item">
            <div class="meta"></div>
            <div class="content">
              <span class="value "><%= stats[:average_contributions] %></span>
              <span class="label">Average per day</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="w-full b-h-gray-5"></div>

    <div id="github_commit_graph">
      <% contributions[:commits].each do |week_of_commits| %>
        <% week_of_commits['contributionDays'].each do |day| %>
          <span class="day <%= git_commit_grayscale(day['contributionCount']) %>"></span>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="title_bar">
    <img class="image" src="<%= Rails.application.credentials.base_url %>/images/plugins/github--render.svg" />
    <span class="title">GitHub</span>
    <span class="instance"><%= instance_name %></span>
  </div>
</div>

<%= render 'common' %>
