<div class="screen">
  <div class="layout">
    <div class="columns">
      <div class="column">
        <div class="list">
          <% stories[0..5].each_with_index do |post, idx| %>
            <div class="item">
              <div class="meta">
                <span class="index"><%= idx + 1 %></span>
              </div>
              <div class="content">
                <span class="title title--small"><%= post[:title] %></span>
                <div class="flex gap--small">
                  <span class="label label--small label--underline"><%= post[:score] %> votes</span>
                  <span class="label label--small label--underline">by <%= post[:by] %></span>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>

      <div class="column">
        <div class="list">
          <% stories[6..11].each_with_index do |post, idx| %>
            <div class="item">
              <div class="meta">
                <span class="index"><%= idx + 7 %></span>
              </div>
              <div class="content">
                <span class="title title--small"><%= post[:title] %></span>
                <div class="flex gap--small">
                  <span class="label label--small label--underline"><%= post[:score] %> votes</span>
                  <span class="label label--small label--underline">by <%= post[:by] %></span>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="title_bar">
    <img class="image" src="<%= Rails.application.credentials.base_url %>/images/plugins/hacker-news--render.svg" />
    <span class="title">Hacker News</span>
    <span class="instance"><%= category %></span>
  </div>
</div>
