<div class="view view--full">
  <div class="layout layout--col gap--space-between">
    <div class="grid grid--cols-2">
      <div class="item">
        <div class="meta"></div>
        <div class="content">
          <span class="value value--small"><%= origin %> → <%= destination %></span>
        </div>
      </div>
       <div class="item">
        <div class="meta"></div>
        <div class="content">
          <span class="value value--small"><%= last_updated %> </span>
          <span class="label">Last Updated</span>
        </div>
      </div>
    </div>

    <div class="w-full b-h-gray-5"></div>

    <div class="columns">
      <% routes.each do |route| %>
        <div class="column">
          <div class="list">
            <div class="item <%= 'bg-gray-5' if route[:is_fastest] %>">
              <div class="meta">
                <% if route[:is_fastest] %>
                  <span class="index">★</span>
                <% end %>
              </div>
              <div class="content">
                <span class="title title--small"><%= route[:name] %> (<%= route[:travel_mode] %>)</span>
                <div class="flex gap--xsmall">
                  <span class="label label--small label--underline"><%= route[:duration] %></span>
                  <span class="label label--small label--underline"><%= route[:distance] %></span>
                </div>
                <div class="flex gap--xsmall">
                 <% if route[:is_fastest] %>
                 <span class="label label--small">Fastest Route</span>
                 <% else %>
                <span class="label label--small">Alternative Route</span>
                <% end %>  
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="title_bar">
    <img class="image" src="<%= Rails.application.credentials.base_url %>/images/map-pin.svg" />
    <span class="title">Daily Commute</span>
    <span class="instance">Route Planner</span>
  </div>
</div>