<div class="view view--full">
  <div class="layout layout--col gap--space-between">
    <div class="grid">
      <div class="row row--center col--span-3 col--end">
        <%= image_tag weather_image, class: "weather-image", style: "filter: brightness(0.5) saturate(0%);", alt: "Weather condition" %>
      </div>
      <div class="col col--span-3 col--end">
        <div class="item h--full">
          <div class="meta"></div>
          <div class="content">
            <span class="value value--xxxlarge" data-fit-value="true"><%= temperature&.round %>째</span>
            <span class="label w--full gap--xlarge">
              <div class="flex gap--xsmall flex--row flex--center-y">
                <%= image_tag plugin_image_path("weather/wi-sunrise.svg"), class: "h--6", alt: "Sunrise" %>
                <%= forecast[:right_now][:sunrise] %>
              </div>
              <div class="flex gap--xsmall flex--row flex--center-y">
                <%= image_tag plugin_image_path("weather/wi-sunset.svg"), class: "h--6", alt: "Sunset" %>
                <%= forecast[:right_now][:sunset] %>
              </div>
            </span>
            <span class="label w--full gap--xsmall">
              <%= image_tag "https://tempestwx.com/images/Updated/wind-arrow-#{forecast[:right_now][:wind][:direction_cardinal].downcase}.svg", class: "h--6", alt: "Wind direction" %>
              <%= forecast[:right_now][:wind][:gust] %> <%= forecast[:right_now][:wind][:units] %>
            </span>
          </div>
        </div>
      </div>
      <div class="col col--span-3 col--end gap--medium">
        <div class="item">
          <div class="meta"></div>
          <div class="icon">
            <%= image_tag plugin_image_path("weather/wi-thermometer.svg"), class: "weather-icon", alt: "Temperature" %>
          </div>
          <div class="content">
            <span class="value value--small"><%= feels_like&.round %>째</span>
            <span class="label"><%= t('renders.weather.feels_like') %></span>
          </div>
        </div>

        <div class="item">
          <div class="meta"></div>
          <div class="icon">
            <%= image_tag plugin_image_path("weather/wi-raindrops.svg"), class: "weather-icon", alt: "Humidity" %>
          </div>
          <div class="content">
            <span class="value value--small"><%= humidity %>%</span>
            <span class="label"><%= t('renders.weather.humidity') %></span>
          </div>
        </div>

        <div class="item">
          <div class="meta"></div>
          <div class="icon">
            <%= image_tag weather_image, class: "weather-icon", style: "filter: brightness(0.5) saturate(0%);", alt: "Weather condition" %>
          </div>
          <div class="content">
            <span class="value value--xsmall"><%= right_now_conditions %></span>
            <span class="label"><%= t('renders.weather.right_now') %></span>
          </div>
        </div>
      </div>
    </div>

    <div class="divider"></div>

    <div class="grid">
      <div class="col gap--large">
        <% [:today, :tomorrow].each do |day| %>
          <div class="grid">
            <div class="item col--span-3">
              <div class="meta"></div>
              <div class="icon">
                <%= image_tag local_assigns["#{day}_weather_image".to_sym], class: "weather-icon", style: "filter: brightness(0.5) saturate(0%);", alt: "Weather condition" %>
              </div>
              <div class="content">
                <span class="value value--xsmall"><%= forecast[day][:conditions] %></span>
                <span class="label"><%= forecast[day][:day_override] || t("renders.weather.#{day.to_s}") %></span>
              </div>
            </div>

            <div class="row col--span-3">
              <div class="item">
                <div class="meta"></div>

                <div class="flex flex--row flex--center-y">
                  <div class="flex flex--row flex--center-y gap--xsmall">
                    <div class="icon">
                      <%= image_tag plugin_image_path("weather/wi-hot.svg"), class: "weather-icon", alt: "UV Index" %>
                    </div>

                    <div class="content w--14">
                      <span class="value value--xsmall"><%= forecast[day][:uv_index] %></span>
                      <span class="label"><%= t('renders.weather.uv') %></span>
                    </div>
                  </div>

                  <div class="flex flex--row flex--center-y gap--xsmall">
                    <div class="icon">
                      <%= image_tag "https://tempestwx.com/images/Updated/#{forecast[day][:precip][:icon]}.svg", class: "weather-icon", style: "max-height: 30px; filter: brightness(0.5) saturate(0%);", alt: "Precipitation" %>
                    </div>

                    <!-- justify-content is needed for 'tomorrow' precip amount/units, given they are always nil -->
                    <div class="content w--14" style="<%= 'justify-content: center' if day == :tomorrow %>">
                      <span class="value value--xsmall"><%= forecast[day][:precip][:probability] %>%</span>
                      <% if forecast[day][:precip][:amount].present? %>
                        <span class="label"><%= forecast[day][:precip][:amount].round(1) %> <%= forecast[day][:precip][:units] %></span>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row col--span-3">
              <div class="item">
                <div class="meta"></div>
                <div class="flex flex--row flex--center-y">
                  <div class="icon">
                    <%= image_tag plugin_image_path("weather/wi-thermometer.svg"), class: "weather-icon", alt: "Temperature" %>
                  </div>
                  <div class="flex flex--row flex--center-y gap--xsmall">
                    <div class="content w--20">
                      <span class="value value--small"><%= forecast[day][:mintemp]&.round %>째</span>
                      <span class="label"><%= t('renders.weather.low') %></span>
                    </div>
                    <div class="content w--20">
                      <span class="value value--small"><%= forecast[day][:maxtemp]&.round %>째</span>
                      <span class="label"><%= t('renders.weather.high') %></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="title_bar">
    <%= image_tag plugin_image_path("tempest_weather_station--render.svg"), class: "image", alt: "" %>
    <h1 class="title"><%= t('renders.weather.title') %></h1>
    <span class="instance"><%= instance_name %></span>
  </div>
</div>

<%= render 'plugins/weather/common' %>
