<div class="view view--full">
  <div class="layout layout--col gap--space-between">
    <div class="grid">
      <div class="row row--center col--span-3 col--end">
        <img class="weather-image" style="filter: brightness(0.5) saturate(0%);" src="<%= weather_image %>" />
      </div>
      <div class="col col--span-3 col--end">
        <div class="item h--full">
          <div class="meta"></div>
          <div class="content">
            <span class="value value--xxxlarge" data-fit-value="true"><%= temperature&.round %>째</span>
            <span class="label w--full">
              <img style="max-height: 24px; vertical-align: middle" src="<%= Rails.application.credentials.base_url %>/images/plugins/weather/wi-sunrise.svg" />
              <%= forecast[:right_now][:sunrise] %>
            </span>
            <span class="label w--full">
              <img style="max-height: 24px; vertical-align: middle" src="https://tempestwx.com/images/Updated/wind-arrow-<%= forecast[:right_now][:wind][:direction_cardinal].downcase %>.svg" />
              <%= forecast[:right_now][:wind][:gust] %> <%= forecast[:right_now][:wind][:units] %>
            </span>
          </div>
        </div>
      </div>
      <div class="col col--span-3 col--end gap--medium">
        <div class="item">
          <div class="meta"></div>
          <div class="icon">
            <img class="weather-icon" src="<%= Rails.application.credentials.base_url %>/images/plugins/weather/wi-thermometer.svg" />
          </div>
          <div class="content">
            <span class="value value--small"><%= feels_like&.round %>째</span>
            <span class="label"><%= t('renders.weather.feels_like') %></span>
          </div>
        </div>

        <div class="item">
          <div class="meta"></div>
          <div class="icon">
            <img class="weather-icon" src="<%= Rails.application.credentials.base_url %>/images/plugins/weather/wi-raindrops.svg" />
          </div>
          <div class="content">
            <span class="value value--small"><%= humidity %>%</span>
            <span class="label"><%= t('renders.weather.humidity') %></span>
          </div>
        </div>

        <div class="item">
          <div class="meta"></div>
          <div class="icon">
            <img class="weather-icon" style="filter: brightness(0.5) saturate(0%);" src="<%= weather_image %>" />
          </div>
          <div class="content">
            <span class="value value--xsmall"><%= conditions %></span>
            <span class="label"><%= t('renders.weather.right_now') %></span>
          </div>
        </div>
      </div>
    </div>

    <div class="w-full b-h-gray-5"></div>

    <div class="grid">
      <div class="col gap--large">
        <% [:today, :tomorrow].each do |day| %>
          <div class="grid">
            <div class="item col--span-3">
              <div class="meta"></div>
              <div class="icon">
                <img class="weather-icon" style="filter: brightness(0.5) saturate(0%);" src="<%= local_assigns["#{day}_weather_image".to_sym] %>" />
              </div>
              <div class="content">
                <span class="value value--xsmall"><%= forecast[day][:conditions] %></span>
                <span class="label"><%= forecast[day][:day_override] || t("renders.weather.#{day.to_s}") %></span>
              </div>
            </div>

            <div class="row col--span-3">
              <div class="item">
                <div class="meta"></div>

                <div class="row">
                  <div class="icon">
                    <img class="weather-icon" src="<%= Rails.application.credentials.base_url %>/images/plugins/weather/wi-hot.svg" />
                  </div>

                  <div class="content w--14">
                    <span class="value value--xsmall"><%= forecast[day][:uv_index] %></span>
                    <span class="label"><%= t('renders.weather.uv') %></span>
                  </div>

                  <div class="icon" style="margin-top: auto; margin-bottom: auto;">
                    <img class="weather-icon" style="max-height: 30px; filter: brightness(0.5) saturate(0%);" src="https://tempestwx.com/images/Updated/<%= forecast[day][:precip][:icon] %>.svg" />
                  </div>

                  <!-- justify-content is needed for 'tomorrow' precip amount/units, given they are always nil -->
                  <div class="content w--14" style="<%= 'justify-content: center' if day == :tomorrow %>">
                    <span class="value value--xsmall"><%= forecast[day][:precip][:probability] %>%</span>
                    <% if forecast[day][:precip][:amount].present? %>
                      <span class="label"><%= forecast[day][:precip][:amount] %> <%= forecast[day][:precip][:units] %></span>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>

            <div class="row col--span-3">
              <div class="item">
                <div class="meta"></div>
                <div class="icon">
                  <img class="weather-icon" src="<%= Rails.application.credentials.base_url %>/images/plugins/weather/wi-thermometer.svg" />
                </div>
                <div class="row">
                  <div class="content w--20">
                    <span class="value value--small"><%= forecast[day][:mintemp]&.round %>째</span>
                    <span class="label"><%= t('renders.weather.low') %></span>
                  </div>
                  <div class="content w--20">
                    <span class="value value--small"><%= forecast[day][:maxtemp]&.round %>째</span>
                    <span class="label"><%= t('renders.weather.high') %></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="title_bar">
    <img class="image" src="<%= Rails.application.credentials.base_url %>/images/plugins/tempest_weather_station--render.svg" />
    <h1 class="title"><%= t('renders.weather.title') %></h1>
    <span class="instance"><%= instance_name %></span>
  </div>
</div>

<%= render 'plugins/weather/common' %>
