<div class="view view--half_horizontal">
  <div class="layout layout--col">
    <div class="columns gap--small">
      <!-- Pending Board -->
      <div class="column">
        <div class="item">
          <div class="meta"></div>
          <div class="content">
            <span class="value value--small">Pending</span>
            <span class="label"><%= pending_tasks.size %> cards</span>
          </div>
        </div>
        <div class="w-full b-h-gray-5"></div>

        <!-- Condensed card list -->
        <div class="list">
          <% pending_tasks.first(2).each_with_index do |task, index| %>
            <div class="item">
              <div class="meta">
                <span class="index"><%= index + 1 %></span>
              </div>
              <div class="content">
                <span class="title title--small"><%= task['title'] %></span>
                <div class="flex gap--xsmall">
                  <% task['tags'].each do |tag| %>
                    <span class="label label--small" style="background-color: <%= tag_colors[tag] %>">
                      <%= tag %>
                    </span>
                  <% end %>
                </div>
              </div>
            </div>
            <% if index < [pending_tasks.size, 2].min - 1 %>
              <div class="w-full b-h-gray-5"></div>
            <% end %>
          <% end %>
        </div>
      </div>

      <!-- In Progress Board -->
      <div class="column">
        <div class="item">
          <div class="meta"></div>
          <div class="content">
            <span class="value value--small">In Progress</span>
            <span class="label"><%= in_progress_tasks.size %> cards</span>
          </div>
        </div>
        <div class="w-full b-h-gray-5"></div>

        <div class="list">
          <% in_progress_tasks.first(2).each_with_index do |task, index| %>
            <div class="item">
              <div class="meta">
                <span class="index"><%= index + 1 %></span>
              </div>
              <div class="content">
                <span class="title title--small"><%= task['title'] %></span>
                <div class="flex gap--xsmall">
                  <% task['tags'].each do |tag| %>
                    <span class="label label--small" style="background-color: <%= tag_colors[tag] %>">
                      <%= tag %>
                    </span>
                  <% end %>
                </div>
              </div>
            </div>
            <% if index < [in_progress_tasks.size, 2].min - 1 %>
              <div class="w-full b-h-gray-5"></div>
            <% end %>
          <% end %>
        </div>
      </div>

      <!-- Completed Board -->
      <div class="column">
        <div class="item">
          <div class="meta"></div>
          <div class="content">
            <span class="value value--small">Completed</span>
            <span class="label"><%= completed_tasks.size %> cards</span>
          </div>
        </div>
        <div class="w-full b-h-gray-5"></div>

        <div class="list">
          <% completed_tasks.first(2).each_with_index do |task, index| %>
            <div class="item">
              <div class="meta">
                <span class="index"><%= index + 1 %></span>
              </div>
              <div class="content">
                <span class="title title--small"><%= task['title'] %></span>
                <div class="flex gap--xsmall">
                  <% task['tags'].each do |tag| %>
                    <span class="label label--small" style="background-color: <%= tag_colors[tag] %>">
                      <%= tag %>
                    </span>
                  <% end %>
                </div>
              </div>
            </div>
            <% if index < [completed_tasks.size, 2].min - 1 %>
              <div class="w-full b-h-gray-5"></div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="title_bar">
    <img class="image" src="<%= Rails.application.credentials.base_url %>/images/plugins/project_board--render.svg" />
    <span class="title">Project Board</span>
    <span class="instance"><%= instance_name %></span>
  </div>
</div>

<%= render 'common' %>